<%= nested_form_for(@image, :html => {:multipart => true,:'data-ajax' => false}) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
    <%= f.label :name %>
    </div>
    <div class="controls">
    <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
    <%= f.label :location %>
    </div>
    <div class="controls">
    <%= f.text_field :location %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
    <%= f.label :latitude %>
    </div>
    <div class="controls">
    <%= f.text_field :latitude %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
    <%= f.label :longitude %>
    </div>
    <div class="controls">
    <%= f.text_field :longitude %>
    </div>
  </div>
 
  <%= f.fields_for :pictures do |pic| %>
    <%= image_tag(pic.object.file.url, heigh: 200, width: 200) %>
    <%= pic.label :file %>
    <%= pic.file_field :file %>
    <%= pic.link_to_remove t('.remove_image') %>
  <% end %>

  <%= f.link_to_add t('.add_image'), :pictures, :class =>'btn btn-small' %>
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
