<h1>Listing images</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.name %></td>
        <td><%= image.location %></td>
        <td><%= image.latitude %></td>
        <td><%= image.longitude %></td>
        <td>
          <%= link_to 'Show', image, :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_image_path(image), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
