<div data-role="header">
  <h1>Listing images</h1>
  <%= link_to "Add Image", new_image_path, "data-icon" => "plus", "class" => "ui-btn-left" %>
</div>

<div data-role="content">
  <ul data-role="listview" data-theme="b" data-inset="true">
    <% @images.each do |image| %>
        <li>
          <%= link_to image do %>
            <img src="http://demos.jquerymobile.com/1.3.2/_assets/img/album-bb.jpg">
            <h2><%= image.name %></h2>
            <p><%= image.location %>
            <%= image.latitude %>
            <%= image.longitude %></p>
          <% end %>
        </li>
    <% end %>
  </ul>
  
</div>
<!-- 
<%#= link_to 'Show', image %>
<%#= link_to 'Edit', edit_image_path(image) %>
<%#= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
-->
